@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  color: #ffffff;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

.primary-button {
  background-color: #25E7A3;
  color: #000000;
  padding: 8px 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
.primary-button:hover {
  cursor: pointer;
  background-color: #1AC7BE;
}

.link-button {
  background-color: transparent;
  color: #25E7A3;
  padding: 0 0;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  box-shadow: none;
}
.link-button:hover {
  cursor: pointer;
  color: #1AC7BE;
}

.error-button {
  background-color: #f52727;
  color: #000000;
  padding: 8px 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
.error-button:hover {
  cursor: pointer;
  background-color: #ff4d4d;
}

.working-button {
  background-color: #ffac4d;
  color: #000000;
  padding: 8px 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
.working-button:hover {
  cursor: pointer;
  background-color: #ffbf80;
}

.input-text {
  background-color: #ffffff;
  color: #000000;
  padding: 8px 8px;
  border-radius: 8px;
  border: 2px solid #25E7A3;
  width: 300px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
.input-text::placeholder {
  color: #626262;
  font-style: italic;
}
.input-text:focus {
  outline: none;
  border-color: #1AC7BE;
}

.input-textarea {
  background-color: #ffffff;
  color: #000000;
  padding: 8px 8px;
  border-radius: 8px;
  border: 2px solid #25E7A3;
  width: 100%;
  resize: none;
  height: 100px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
.input-textarea::placeholder {
  color: #626262;
  font-style: italic;
}
.input-textarea:focus {
  outline: none;
  border-color: #1AC7BE;
}

select {
  background-color: #ffffff;
  color: #000000;
  padding: 8px 8px;
  border-radius: 8px;
  border: 2px solid #25E7A3;
  width: 300px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
select:focus {
  outline: none;
  border-color: #1AC7BE;
}

.input-number {
  background-color: #ffffff;
  color: #000000;
  padding: 8px 8px;
  border-radius: 8px;
  border: 2px solid #25E7A3;
  width: 300px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
.input-number::placeholder {
  color: #626262;
  font-style: italic;
}
.input-number:focus {
  outline: none;
  border-color: #1AC7BE;
}

.book {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: solid 4px #25E7A3;
  border-radius: 16px;
  padding: 24px;
}
.book h3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.book .book-author p {
  color: #25E7A3;
  cursor: pointer;
  text-decoration: underline;
}
.book .book-row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.book .book-buttons, .book .edit-buttons {
  display: flex;
  gap: 16px;
}
.book .edit-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#app {
  width: 100%;
  max-width: 1440px;
  padding: 36px 48px;
  background-color: #282828;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
}
#app .app-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#app .app-top h2 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
#app .alert {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f52727;
  color: #000000;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  border-radius: 16px;
}
#app .alert p {
  font-weight: 700;
}
#app .bookContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
  scrollbar-width: none;
}
#app .form-back {
  width: 100dvw;
  height: 100dvh;
  background-color: #000000;
  opacity: 70%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
#app .add-form {
  display: flex;
  gap: 16px;
  border: solid 4px #25E7A3;
  border-radius: 16px;
  padding: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1e1e1e;
  z-index: 101;
}
#app .add-form .book-row {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
#app .add-form .left-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#app .add-form .right-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#app .add-form .right-column .add-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}/*# sourceMappingURL=main.css.map */